@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0;
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

h1 {
    padding-top: 30px;
    font-weight: 600;
}

p {
    padding-bottom: 10px;
    font-weight: 400;
}

img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    padding-top: 15px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    padding: 20px 60px;
    border-radius: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: hsl(0, 0%, 100%);
}

.location{
    color: hsl(75, 94%, 57%);
    padding-top: 9px;
    padding-bottom: 30px;
    font-size: 14px;
    font-size: 600;
}


.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
    margin-top: 18px;
    background-color: hsl(0, 0%, 20%);
    width: 250%;
    height: 44px;
    color: hsl(0, 0%, 100%);
    border-radius: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.btn1:hover, 
.btn2:hover, 
.btn3:hover, 
.btn4:hover, 
.btn5:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}



@media (max-width: 375px){

    .container {
        width: 85%;
        padding: 20px;
    }

}